<div class="footer-gradient"></div>
<div class="section narrow">
  <div class="footer-hr"></div>
  <div class="footer-container">
    <div class="footer-text">
      In questo sito non hai bisogno di accettare nessun cookie perché non raccogliamo ne tracciamo alcun dato. "quelli_del_blog" è un podcast ideato da <a style="font-weight: 600; color: black" href="#">Alessandro Di Deo</a>, <a style="font-weight: 600; color: black" href="#">Antonio Di Carlo</a>, <a style="font-weight: 600; color: black" href="https://www.instagram.com/gianluca_primavera/">Monica Rega</a> e <a style="font-weight: 600; color: black" href="https://www.instagram.com/gianluca_primavera/">Gianluca Primavera</a> e realizzato da Gianluca Primavera. E se sei arrivato fin qui, grazie.
    </div>
    {{ partial "social-links/social-links.html" . }}
  </div>
</div>