<div style="width: 90%; margin:auto; display: flex; justify-content: center; align-items: center;">
  <a class="spreaker-player" href="{{ .Get 0 }}" data-resource="{{ .Get 1 }}"
    data-width="100%" data-height="200px" data-theme="light" data-playlist="false" data-playlist-continuous="false"
    data-autoplay="false" data-live-autoplay="false" data-chapters-image="true" data-episode-image-position="right"
    data-hide-logo="false" data-hide-likes="false" data-hide-comments="false" data-hide-sharing="false"
    data-hide-download="true">{{ .Get 2 }}</a>
</div>
<div style="display:flex; align-items:cente; justify-content:center;">
  <a href="{{ .Get 3 }}"><img src="https://res.cloudinary.com/glcprm/image/upload/c_scale,w_200/v1611695600/spotify_kl9gw5.png"
      alt="Ascolta su spotify"></a>
</div>
<div style="display:flex; align-items:cente; justify-content:center;">
  <a href="https://www.youtube.com/channel/UCyj_sMUSy8YRMuflUzxo5OA/videos"><img
      src="https://res.cloudinary.com/glcprm/image/upload/c_scale,w_200/v1614434899/youtube_p4arfj.png"
      alt="Ascolta su YouTube"></a>
</div>